.footer {
    position: relative;
    margin-top: -127px; /* negative value of footer height */
    height: 127px;
    clear:both;
    padding-top:20px;
  } 

.admin-home-card {
    text-align: center;
    border-radius: 30px;
    width:100%;
    margin-bottom:10px;
}

.admin-home-card-btn {
    width:50%;
}