.admin-home-card {
    text-align: center;
    border-radius: 30px;
    width:100%;
    margin-bottom:10px;
}

.admin-home-card-btn {
    width:50%;
}

.make_ice_cream_h2{
    text-align:center;
}

.make_ice_cream_btn{
    width:100%;
}

@font-face {
    font-family: 'trend_sansone';
    src: url('http://localhost:8080/assets/css/latinotype_-_trendsansone-webfont.woff2') format('woff2'),
         url('http://localhost:8080/assets/css/latinotype_-_trendsansone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.trend_sansone{
    font-family: 'trend_sansone', Arial, sans-serif!important;
    font-weight: normal;
    font-style: normal;
}

.form-label-message {
    display: inline;
    padding-left: 10px;
    font-size: smaller;
}

.svg-tooltip {
    fill: #444444;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.sundae-details-inline-flex{
    display: inline-flex;
}

.sundae-details-bold{
    font-weight:bold;
}

.retrieve-title-row {
    background-color: #f1f1f1;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.retrieve-details-row {
    background-color: #f1f1f1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}